@{
    ViewData["Title"] = "Главная страница";
}

<div class="text-center">
    <h1 class="display-4">Практика №4</h1>
    <h2>
        Программирование Web-ориентированных приложений с
        использованием ASP.NET CORE
    </h2>
</div>
<div class="text-start">
    <ol>
        <li>
            Создайте таблицы: Пользователи (id, логин, пароль, ФИО),
            Сообщения (id, от_кого, кому, заголовок_сообщения, текст, дата_отправки,
            статус). Статус: новое или прочитанное.
        </li>
        <li>
            Создать главную Web-форму с кнопками «Регистрация», «Вход».
        </li>
        <li>
            При нажатии на кнопку «Регистрация» должна открываться
            вторая Web-форма, где пользователь может зарегистрироваться с текстовыми
            полями: логин, пароль, ФИО и кнопкой «Сохранить». Введенные данные
            должны сохраняться в таблице «Пользователи».
        </li>
        <li>
            При нажатии на кнопку «Вход» на главной форме должна
            открываться третья Web-форма с текстовыми полями: логин, пароль и кнопкой
            «Вход». Пользователь вводит свои данные. Если они являются верными
            (сравнение с данными, которые хранятся в таблице), то приложение
            перенаправляет пользователя на четвертую Web-форму или выдается
            сообщение, что логин и пароль неверны.
        </li>
        <li>
            На четвертой Web-форме при правильном вводе
            идентификационных данных, должна появится фамилия, имя и отчество
            пользователя, а также в виде таблицы темы сообщений, которые были ему
            адресованы, дату сообщения и от кого (логин). Темы сообщений являются
            гиперссылками, при щелчке на которые будет открываться модальное окно с
            текстом сообщения.
        </li>
        <li>
            Используя JavaScript, организуйте выделение любым цветом строк
            таблицы с новыми сообщениями.
        </li>
        <li>
            Организуйте фильтрацию сообщений по логину отправителя, по
            интервалу дат отправки, по статусу (отображать непрочитанные или все).
            Фильтры можно применить все сразу или по отдельности.
        </li>
        <li>
            Организуйте сортировку по дате отправки сообщений.
        </li>
    </ol>
</div>
